.movieContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding:0 1rem;
}
.heading{
    padding-left: 2rem;
}

.emptyContainer{
    margin-bottom: 1rem;
    min-height: 100px;
}